<div class="container mt-5">
  <h2>{{ title }}</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Fecha carga</th>
        <th scope="col">Nombre Archivo</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of datos">
        <td>{{ dato.insertDate | date:'medium' }}</td>
        <td>{{ dato.uploadFileName }}</td>
        <td>

          <button type="button" class="btn btn-danger btn-sm" (click)="SelectFile(dato.id)">Seleccionar</button>

        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <div style="display: flex;">

    <label *ngFor="let hero of nombresColumnas" style="display: block;">
      {{ hero.columnName }}
      <p *ngFor="let valorColumna of hero.columnsValueFile">
        {{valorColumna.columnValue}}
      </p>
    </label>
  </div>

</div>